MYSQL_ROOT_PASSWORD=social_app_password
MYSQL_DATABASE=social_app
JWT_SECRET=replace-this-with-a-long-random-secret
CLIENT_ORIGIN=http://localhost:5174
VITE_API_URL=http://localhost:3005/api

# Example:
# DOCKER_REPOSITORY=docker.io/your-username/your-repo
# IMAGE_TAG=latest
DOCKER_REPOSITORY=myngaa/myngaaa
IMAGE_TAG=latest
